body {
  font-family: 'Montserrat', sans-serif;
}


.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(71,71,71,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(71,71,71,0.5);
  box-shadow: 0px 0px 5px 0px rgba(71,71,71,0.5);
  background: #FFFFFF;
  padding: 1.5rem;
}

@media screen and (max-width: 480px) {
  .Modal {
    width: 80%;
  }

}

.border-red {
  border: 2px solid #F24726;
  border-left: 6px solid #F24726;
}

.border-yellow {
  border: 2px solid #FAC710;
  border-left: 6px solid #FAC710;
}

.border-blue {
  border: 2px solid #2D9BF0;
  border-left: 6px solid #2D9BF0;
}

.icon-primary:hover {
  fill: #2D9BF0;
}

.icon-danger:hover {
  fill: #F24726;
}